
html{height: 100%;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-family: "ff-tisa-web-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  font-size:16px;
    line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-rendering: geometricPrecision;*/
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/*--------------------------*/

.container-head-wrapper{
    border-bottom: 1px solid #dbdbdb;
}
.container-head {
    min-height: 60px;
}

.container {
    max-width: 1120px;
}
.container-small {
    max-width: 970px;
}

.header-logo {
    position: absolute;
    left:20px;
    padding: 0;
    height: 156px;
    width: 173px;
    background: transparent url('../content/header-logo-sample.png') no-repeat top left;
    z-index: 100;
    cursor: pointer;
}

.header-logo {
    top:0px;
    left:50px;
    padding: 0;
    height: 221px;
    width: 170px;
    background: transparent url('../content/logo.png') no-repeat top left;
    z-index: 100;
    cursor: pointer;
}
.page-template-startpagenew .header-logo{top:-10px;}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header-logo {
        background-image: url('../content/header-logo-sample@2x.png');
        background-size: 173px 156px;
    }
}

.header-logo-mobile {
    display: none;
    position: absolute;
    left:25px;
    top: -10px;
    padding: 0;
    width: 38px;
    height: 50px;
    background: transparent url('../content/logo-light-sm.png');
    z-index: 100;
    cursor: pointer;
}

/* -- navigation -- */


.navbar {
    display: block;
    margin: 0 0 20px 0;
}
.navbar.dropped {
    padding-top: 45px;
}
.navbar .menu-minimeny-container .menu-item.current-menu-item{
  padding-top:45px;
}
.small-navigation.dropped{
  display:block;
}

.small-navigation, .main-navigation, .sticky-sub-menu, .language-navigation {
    text-align: center;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

.small-navigation {
    position:absolute;
    top:15px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: none;
    max-width: 800px;
}

.small-navigation .bottom-border {
    margin:10px auto 0 auto;
    padding:0;
    border-bottom:1px solid #ccc;
}

.small-navigation ul {
    padding:0;
    margin:0;
}

.small-navigation li {
    list-style: none;
    display: inline;
    padding:0 2px 0 2px;
    margin: 0 5px 0 5px;
}

.small-navigation li a {
    text-decoration: none;
    color: #333;
}

.small-navigation li a:hover, .small-nav li.current_page_item a {
    text-decoration: underline;
    color: #12af56;
}

.main-navigation {
    margin: 60px 0 0 0;
}

.main-navigation ul {
    padding:0;
    margin:10px 0 0 0;
}

.main-navigation li, .language-navigation li {
    list-style: none;
    display: inline;
    padding:2px;
    margin: 0 0 0 0;
}

.main-navigation li a, .language-navigation li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  font-size: 10.4pt;
  padding: 10px 5px;
  letter-spacing: 0.3pt;
}
/* currentmeny */
.main-navigation li a:hover{
    color: #000;
}
.main-nav li.current_page_item a, .main-nav li.current-menu-parent:first-child a {
    color: #009D50;
}



.language-navigation {
    margin: 0 0 0 0;
    position:absolute;
    right:40px;
    top:25px;
}
.language-navigation a{
    color:#fff;
}



.burger-menu, .burger-menu-mobile {
    position: absolute;
    right: 15px;
    top: 6px;
    padding:0;
    margin:0;
    width: 45px;
    height: 30px;
    background: url('../content/burger-menu-sample.gif');
    cursor: pointer;
}

.burger-menu-mobile {
    display: none;
}

.site-main{margin-top:100px}
.page-template-startpagenew .site-main{margin-top:0}

.container-head-wrapper{position:absolute;width:100%;border:0px;z-index: 999;top:0px; height: 100px;}
.page-template-startpagenew .container-head-wrapper{background-color: transparent;top:10px}
.main-navigation li{ padding: 10px 12px 10px 12px; }
.main-navigation li:hover{ background: #00c464; }
.page-template-startpagenew .main-navigation li a, .page-template-startpagenew .language-navigation li a{ color:#fff; }
.small-navigation{display:none}
.main-navigation { margin: 40px 0 0 0; }

.main-navigation ul li{ position:relative}
.main-navigation ul ul{ display:none}
.main-navigation ul li:hover > ul { display: block; }
.main-navigation ul ul {
    padding: 0;
    position: absolute;
    left:0;
    text-align: left;
    width:200px;
    padding-top:2px;
}
.main-navigation ul ul li {
    float: none;
    display: block;
    background: #009d50;
    padding:3px 12px;
    margin-bottom:1px;
}
.main-navigation ul ul li a{ display: block; }
.main-navigation ul li:hover{ background: transparent; }
.main-navigation ul li:hover a, .language-navigation ul li:hover a{ background: transparent; opacity:0.5;color: rgba(0,0,0,1);}
.page-template-startpagenew .main-navigation ul li:hover a, .page-template-startpagenew .language-navigation ul li:hover a{ background: transparent; opacity:0.5;color: rgba(255,255,255,1);}
.main-navigation ul li.menu-item-has-children:hover{ background: #00c464;}
.main-navigation ul li.menu-item-has-children:hover a{ color: rgba(255,255,255,1); opacity:1}
.main-navigation ul li.menu-item-has-children ul li:hover{ background: #00c464; }

.main-navigation ul li.menu-item-has-children a:before {
    display: block;
    content: "";
    background-image:url('../content/dropDownArrowBlack.png');
    z-index: 2;
    height: 12px;
    width: 10px;
    position: absolute;
    right: 8px;
    top: 19px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.main-navigation ul li.menu-item-has-children:hover a:before {
    background-image:url('../content/dropDownArrow.png');
    background-position:bottom left;
    top: 15px;
}
.page-template-startpagenew ul li.menu-item-has-children a:before {background-image:url('../content/dropDownArrow.png');}
.page-template-startpagenew ul li.menu-item-has-children:hover a:before {background-image:url('../content/dropDownArrow.png');}
.main-navigation ul li.menu-item-has-children ul li a:before { display: none; }
.main-navigation ul li.menu-item-has-children ul li a:after { display: none; }

.container-head-wrapper{position:absolute;width:100%;border:0px;z-index: 999;background-color: #fff}


.language-navigation ul li:first-child:after {
    display: block;
    content: "/";
    z-index: 2;
    height: 14px;
    width: 10px;
    position: absolute;
    left: 67px;
    top: 17px;
    color:#000;
}
.page-template-startpagenew .language-navigation ul li:first-child:after { color:#fff; }

.content-block-wrapper {
    width: 100%;
    margin: 0;
    padding: 40px 0 50px 0;
}

.content-block-wrapper.backgroundImage {

  background-position: center center;
    background-size:cover;
        color:#fff;
}

.content-block-wrapper.backgroundImage h4{
    color:#fff !important;
}

.content-block {
    margin:0 auto 0 auto;
    padding:25px 15px 25px 15px;
    max-width: 970px;
}

.content-block a
{
  font-weight: normal;
}

.content-block h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10.4pt;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3pt;
  color: #fff;
}

.content-block h4 {
  text-align: center;
  font-size: 24pt;
  font-weight: 400;
  color: #12af56;
  margin: 20px 0 20px 0;
}

.extraFooter {padding: 0px 15px 40px 15px !important}
.extraFooter h3{font-size:20px !important;margin-top:40px;margin-bottom:10px}
.extraFooter a{color:#fff}
.extraFooter a:hover{color:#fff; text-decoration: none;}
.extraFooter p{margin:0 !important}

.center {
    text-align: center;
}

/* footer */

.main-footer a{
    color:#fff;
}

.main-footer {
    background-color: #17aa5c;
    min-height:250px;
    margin: 0 0;
    padding:0;
}

.main-footer .row {
    margin:45px 0 25px 0;
}

.footer-block {
    padding: 10px 0;
    color: #fff;
}

.footer-block img
{
  display: inline;
}

.footer-block.social-media a {
    display: block;
    margin: 8px 0px;
    font-weight: normal;
}

.footer-block.social-media a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-block.social-media a img {
    margin-right: 8px;
}

.footer-block h3 {
    text-transform: uppercase;
    font-size: 11pt;
    margin:5px 0px -3px 0px;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    padding: 0px;
    text-align: left;
    color: #fff;
}

.footer-block ul {
    float:left;
    list-style-type: none;
    padding:0;
    margin:0;
}

.footer-block ul.left {
    margin:0 20px 0 0;
}

.footer-block li {
    background: url('../content/footer-li-pointer-sample.png') no-repeat;
    background-position: 0px center;
    padding: 2px 0 5px 11px;
    margin: 0 5px 0 5px;
}

.footer-block li a {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 10pt;
    color:#fff;
    text-transform: uppercase;
}

.footer-block li a:hover {
    text-decoration: underline;
}

.footer-block p {
    font-size: 10pt;
}

#menu-bottenmeny-vanster .menu-item-has-children {
   background: none;
    margin: 8px 5px 0 5px;
    padding: 2px 0 0px 0px;
}

#menu-bottenmeny-vanster .menu-item-has-children > a {
   font-size: 0.95em;
}

.footer-block ul.sub-menu{
   float: none;
}

.footer-block ul.sub-menu li {
   padding: 2px 0 5px 11px;
   margin: 0 5px 0 0px;
}


/*--------------------------*/

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@keyframes borderIn {
    from { border-width: 0; }
    to   { border-width: 30px; }
}

/* Firefox < 16 */
@-moz-keyframes borderIn {
    from { border-width: 0; }
    to   { border-width: 30px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes borderIn {
    from { border-width: 0; }
    to   { border-width: 30px; }
}

/* Internet Explorer */
@-ms-keyframes borderIn {
    from { border-width: 0; }
    to   { border-width: 30px; }
}

/* Opera < 12.1 */
@-o-keyframes borderIn {
    from { border-width: 0; }
    to   { border-width: 30px; }
}




@keyframes goToRegularTop {
    from { top: -46px; }
    to   { top: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes goToRegularTop {
    from { top: -46px; }
    to   { top: 0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes goToRegularTop {
    from { top: -46px; }
    to   { top: 0px; }
}

/* Internet Explorer */
@-ms-keyframes goToRegularTop {
    from { top: -46px; }
    to   { top: 0px; }
}

/* Opera < 12.1 */
@-o-keyframes goToRegularTop {
    from { top: -46px; }
    to   { top: 0px; }
}





@keyframes newsletterTop {
    from { bottom: -110px; }
    to   { bottom: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes newsletterTop {
    from { bottom: -110px; }
    to   { bottom: 0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes newsletterTop {
    from { bottom: -110px; }
    to   { bottom: 0px; }
}

/* Internet Explorer */
@-ms-keyframes newsletterTop {
    from { bottom: -110px; }
    to   { bottom: 0px; }
}

/* Opera < 12.1 */
@-o-keyframes newsletterTop {
    from { bottom: -110px; }
    to   { bottom: 0px; }
}

/*------------------------------------------------------
------------------ headlines
------------------------------------------------------*/

.logo{position:absolute;left:50px;top:0;z-index:10000}

a{color:#009d50;font-weight:bold;text-decoration: none}
a:hover{color:#000;}
h1, h2, h3, h5, form, .submenu, .label, .imageText p{font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;}

h1{font-size:60px;color:#009d50;text-transform: uppercase;font-weight:800;color:#fff;margin-bottom:0}
h2{font-size:48px;color:#009d50;text-transform: uppercase;font-weight:800;
    text-align: center;
    max-width: 888px;
    margin: 0 auto 20px auto;}
h3{font-size:36px;font-weight:800;margin-bottom:30px;padding-left:20px;padding-right:20px;color:#009d50;text-transform: uppercase;text-align: center;}
h4{font-size:24px;font-weight:300;margin-bottom:0;margin-top: 20px;}

.label{text-transform: uppercase;font-weight:800}

.submenu {list-style-type: none;text-align:center;margin-bottom:15px;padding:0}
.submenu li{display:inline-block;padding:16px 2px}
.submenu li a{color:#009d50;padding:10px 27px; border: 1px solid transparent;}
.submenu li.current a{border-color: #009d50;border-radius:25px;}


.content{max-width:568px;margin:0 auto 60px auto}

.imageGrid{
  padding-top: 60px;
  padding-bottom: 60px;
}

.emailField{
    border-radius: 35px;
    border: 0;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase;
    width:300px;
    font-weight:800;
    font-size:14px;
}
.emailButton{
    border-radius: 35px;
    border: 0;
    font-size:14px;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase;
    font-weight:800;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    color:#fff;
    background-color:#00c464;
}
.emailButton:hover{
  background-color:#00733B;
}

.introBox{
  color:#fff;
  text-align:center;
  position:absolute;
  width:100%;
  padding:40px;
  margin-top:-180px;top:50%;
}

.ingress{font-size:24px;margin-top:10px;}
.arrowLink{
    color: #009d50;
    font-weight: bold;
    padding-left: 40px;
    margin-left: 20px;
    background-image: url("../content/arrow.png");
    background-position: left center;
    background-repeat: no-repeat;
    text-decoration: none;
}
.box{
  border:1px solid #eaeaea;
  padding:40px 20px 20px 20px;
  text-align:center;
  background-color:#fff;
}
.box img{border-radius:50%;}

.goToRegular{
  text-align: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 24px 20px 20px 20px;
  height: 70px;
  background-color: rgba(255,255,255,1);
}

.goToRegular p{
  display:inline-block;margin:0
}

.goToRegularBottom{
  text-align: center;
  padding: 0 20px 30px 20px;
}

.goToRegularBottom p{
  display:inline-block;margin:0
}

.newsletterline{
  background-color:rgba(0,157,80,0.96);
  color:#fff;
  padding:30px 20px 20px 20px;
  position:absolute;
  width:100%;
  bottom: 0;
  text-align:center;
}

.newsletterline .wrapper{
  margin:0 auto;
  max-width:750px;
}

.newsletterline .wrapper p{
  float:left;
  width:290px;
  text-align: right;
}
.newsletterline .wrapper form{
  float:right;
  width:430px;
}
.newsletterline p{
margin:0px 0 20px 0;
padding:0;
}

.newsletterline input[type=text]
{
  color: initial;
}


.introSection{
  width:100%;
  height:100%;
  position:relative;
  padding: 0px;
  margin: 0;
}
.intro{
  width:100%;
  height:100%;
  background-size:cover;
  position:absolute;
  background-position:center center;
  padding: 0px;
  margin: 0;
  border:30px solid #fff;
  overflow:hidden;
}

.intro .introBox h1{
  opacity:0;
    -webkit-animation: fadein 2s 0s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s 0s ease-out forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s 0s ease-out forwards; /* Internet Explorer */
         -o-animation: fadein 2s 0s ease-out forwards; /* Opera < 12.1 */
            animation: fadein 2s 0s ease-out forwards;

}

.intro {

}
.intro .introBox p{
    -webkit-animation: fadein 2s 1s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s 1s ease-out forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s 1s ease-out forwards; /* Internet Explorer */
         -o-animation: fadein 2s 1s ease-out forwards; /* Opera < 12.1 */
            animation: fadein 2s 1s ease-out forwards;
    opacity:0;
    font-size: 1.3em;
}
.intro .introBox p.ingress{
    -webkit-animation: fadein 2s 1s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s 1s ease-out forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s 1s ease-out forwards; /* Internet Explorer */
         -o-animation: fadein 2s 1s ease-out forwards; /* Opera < 12.1 */
            animation: fadein 2s 1s ease-out forwards;
    opacity:0;
}
.newsletterline{
    -webkit-animation: newsletterTop 1s 2s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: newsletterTop 1s 2s ease-out forwards; /* Firefox < 16 */
        -ms-animation: newsletterTop 1s 2s ease-out forwards; /* Internet Explorer */
         -o-animation: newsletterTop 1s 2s ease-out forwards; /* Opera < 12.1 */
            animation: newsletterTop 1s 2s ease-out forwards;
            bottom:-110px;
}

.contentSection{
  background-color:#fafaf8;
  margin: 0 30px 0 30px;
  padding:90px 0px 80px 0px;
}
.footerSection{
  background-color:#009d50;
  margin: 30px 0px 0px 0px;
  color:#fff;
  padding:60px 20px 60px 20px;
}


.footerSection .content {text-align:center;margin: 0 auto 30px auto;}
.footerSection .content h3{color:#fff;margin-top: 0;}

hr{
  max-width:227px;
  margin:30px auto 20px auto;
  border: 0;
  border-top: 2px solid #E2E2E2;
}
.footerSection hr{border-top: 2px solid #008745;max-width:227px;margin:30px auto 20px auto;}


.footerSection .newsletterline{
  position:inherit;
  padding:0;
}


.vimeoVideo{
    width: 1140px;
    height: 481px;
    margin: 0 -70px 40px -70px;
}
.vimeoVideo iframe{
  width:100%;
  height:100%;
}

#infoSlider{max-width:860px;margin:0 auto}

#infoSlider .slide{}
#infoSlider ul{padding:0 20px;}
#infoSlider h3 {
    margin-bottom: 10px;
}













.slick-prev, .slick-next, .fp-prev, .fp-next{
  display: block;
  position: absolute;
  top: 50%;
  margin-top:-20px;
  border: 1px solid #000;
  border-radius: 100px;
  height: 46px;
  width: 46px;
  font-size: 0;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: transparent;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: border 0.5s;
}
.slick-prev:hover, .slick-next:hover{
  border: 1px solid #009ddc;
}
.slick-prev, .fp-prev{
    left: -60px;
    background-image: url(../content/arrowLeftSlick.png);
}
.slick-prev:hover, .fp-prev:hover{
    background-position: -49px center;
    -webkit-transition:background-position 0.5s ease;
}
.slick-next, .fp-next{
    right: -60px;
    left: auto;
    background-position: -49px center;
    background-image: url(../content/arrowRightSlick.png);
}

.slick-slide .row
{
  margin-left: 0px;
  margin-right: 0px;
}


.fp-prev{
    background-image: url(../content/arrowLeftSlickHistory.png);
}
.fp-next{
    background-image: url(../content/arrowRightSlickHistory.png);
}
.slick-next:hover, .fp-next:hover{
    background-position: 10px center;
    -webkit-transition:background-position 0.5s ease;
}
.fp-prev {
    left: 30px;
    border: 1px solid #009ddc;
}
.fp-next {
    right: 30px;
    border: 1px solid #009ddc;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    border: 2px solid rgb(0, 157, 80);
    background: transparent;
    display: block;
    height: 10px;
    width: 10px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius:5px;
}
.slick-dots li.slick-active button {
    background: rgb(0, 157, 80);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}


  .submenu li a:hover
  {
    text-decoration: none;
  }



.imageText{position:absolute;color:#fff;width:100%;margin-top:35%;margin-left:-10px}
.imageText.imageText2{margin-top:47%;}
.imageText p{font-size:30px;text-align:center;font-weight:800}


.row1 .box{min-height:410px;}
.row2 .box{min-height:440px;}
.row3 .box{min-height:390px;}




@media (min-width: 1140px) and (max-width: 1220px){

  .vimeoVideo{
    width:1040px;
    height:439px;
    margin:0 -20px 40px -20px;
  }
}

@media (min-width: 1000px) and (max-width: 1140px){

  .vimeoVideo{
    width:800px;
    height:339px;
    margin:0 auto 40px auto;
  }

  h1 {
    font-size: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1000px){

  .vimeoVideo{
    width:600px;
    height:253px;
    margin:0 auto 40px auto;
  }
  h1 {
    font-size: 40px;
}
}

@media (min-width: 769px) and (max-width: 940px){
  h4 {
    font-size: 20px;
}
}
@media (max-width: 768px){


    .row1 .box{min-height:inherit;}
    .row2 .box{min-height:inherit;}
    .row3 .box{min-height:inherit;}



  .submenu li a {
      border-radius: 65px;
      display: block;
  }
  .submenu li.current a {
    border: 1px solid #009d50;
    border-radius: 65px;
}
  .submenu li a{color:#009d50;padding:10px 17px;}

  .submenu li {padding:0}
  .arrowLink{
      padding-left: 25px;
      margin-left: 0px;
      background-image: url("../content/arrowSmall.png");
  }
.label{font-size: 14px;}

.vimeoVideo{
  width:300px;
  height:127px;
  margin:0 auto 40px auto;
}
.logo {
    left: 30px;
    width: 50px;
}
.intro {
    border: 20px solid #fff;
}
.introBox {
    padding: 10px;
}
.contentSection {
    background-color: #fafaf8;
    margin: 0 20px 0 20px;
    padding: 50px 0px 50px 0px;
}
.footerSection {
    margin: 20px 20px 20px 20px;
    padding: 40px 20px 40px 20px;
}

#infoSlider .content{padding:0 20px;}

#infoSlider .row{padding:0 10px}
#infoSlider .c6{margin:0px}

h1 {
    font-size: 19px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 20px;
}
.grid {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    padding: 0 0px;
}
.emailField {
    padding: 15px 20px 15px 20px;
    width: 190px;
}
.emailButton {
    padding: 15px 14px 15px 14px;
}

.goToRegular{
  padding: 14px 20px 20px 20px;
  font-size: 14px;
  text-align:right;
}
.content {
    max-width: 568px;
    margin: 0 20px 60px 20px;
}
.box {
    border: 1px solid #eaeaea;
    padding: 30px 10px 10px 10px;
    text-align: center;
    background-color: #fff;
}
.goToRegular p{
  margin:0;
  padding:0;
}
.introBox {
    margin-top: -110px;
}
.newsletterline .wrapper p {
    float: left;
    width: 100%;
    text-align: center;
}
.wrapper {
    width: 100%;
    text-align: center;
}
.newsletterline .wrapper form {
    float: left;
    width: 100%;
}
.newsletterline {
    padding: 20px 10px 20px 10px;
}
.linkP{margin-top:6px !important;}
.ingress {
    font-size: 16px;
    margin-top: 10px;
}

}

@media (max-width: 1170px) {

  .header-logo {
    top:0px;
    left: 50px;
    padding: 0;
    height: 164px;
    width: 109px;
    background: transparent url('../content/logo.png') no-repeat top left;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
  }
}

@media (max-width: 992px) {

    .container-head-wrapper
    {
      height: auto;
    }

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .burger-menu-mobile {
        display: block;
    }

    .small-navigation {
        display: block;
        position: inherit;
    }

    .navbar {
        display: none;
    }

    .small-navigation li, .main-navigation li {
        display: block;
        padding:5px;
    }

    .main-navigation li a, .small-navigation li a {
        text-decoration: none;
        font-weight: bold;
        color:#333;
        text-transform: uppercase;
        font-size: 10pt;
        padding: 10px;
    }

    .small-navigation li a {
        font-weight: normal;
        text-transform: none;
    }

    .small-navigation li a:hover, .small-nav li.current_page_item a {
        text-decoration: none;
    }

    .small-navigation .bottom-border {
        margin:0 auto 0 auto;
        border:0;
    }

    .object-list-image {
        min-height:none;
        max-height:none;
    }

    .footer-block ul {
        float: none;
    }

    .page-template-startpagenew .container-head-wrapper{background-color: #fff !important;}

    .page-template-startpagenew .container-head-wrapper{background-color: #fff !important;}
    .page-template-startpagenew .main-navigation li a { color: #000; }
    .container-head-wrapper{top:10px !important}

    .main-nav{margin-top:40px}
    .small-navigation li, .main-navigation li { padding: 10px; }
    .main-navigation ul li{border-bottom:1px solid #f4f4f4}
    .language-navigation {position: relative;right: 0px;margin: 0 0 55px 0;}
    .language-navigation ul{margin:0;padding:0}
    .main-navigation ul { margin: 10px 10px 0 10px; }
    .main-navigation ul ul {
        display: block;
        text-align: center;
        width: 100%;
        background-color:#fff;
        position: relative;
        margin: 10px 0 0 0;
    }
    .main-navigation ul ul li{
        background-color:#fff;
        border-bottom:0px;
    }
    .main-navigation ul ul li a{ color:#666; }
    .main-navigation ul ul li a:hover{ background-color:#fff;}

    .main-navigation ul li.menu-item-has-children:hover { background: #fff; color:#000;}
    .main-navigation ul li.menu-item-has-children ul li:hover { background: #fff; }
    .site-main { margin-top: 60px; }

        .main-navigation ul li.menu-item-has-children a:before {
            background-image:url('../content/dropDownArrowBlack.png');
            background-position:top left;
            top: 15px;
        }

    .main-navigation ul li.menu-item-has-children:hover a:before {
        background-image:url('../content/dropDownArrowBlack.png');
        background-position:top left;
        top: 15px;
    }

    .page-template-startpagenew .main-navigation ul li:hover a, .page-template-startpagenew .language-navigation ul li:hover a { color: rgba(0,0,0,1); }
    .page-template-startpagenew .main-navigation li a, .page-template-startpagenew .language-navigation li a { color: #000; }
    .main-navigation ul li.menu-item-has-children:hover a { color: #000; }

    .main-navigation li, .language-navigation li { position: relative; }
    .language-navigation ul li:first-child:after { left: 27px; top: 5px; }
    .page-template-startpagenew .language-navigation ul li:first-child:after { color: #000; }


    /*.left-block { min-height: 220px;}
    .right-block { min-height: 220px;}*/

    .half-width-box .text-block
    {
        font-size: 14px;
    }

}
