
body {
    font-family: "ff-tisa-web-pro", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font-size: 12pt;
    line-height: 1.3;
    padding:0;
    margin:0;
}
h4 {
  text-align: center;
  font-size: 24pt;
  font-weight: 400;
  color: #12af56;
  margin: 20px 0 20px 0;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}


.divider{max-width: 1010px;}
.fordjupning{
  background-color: #eff8fa;
  padding: 1px 20px 10px 20px;
  margin-top: 40px;
}
.fordjupning h2{
  font-size: 1.2em;
}

.fordjupning a::before{
  content: "\f0c1";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #337ab7;
  font-size: 14px;
  padding-right: 5px;
}

.fordjupning a.external::before{
  content: "\f08e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #337ab7;
  font-size: 14px;
  padding-right: 5px;
}



.half-width-box{ width:50%; float:left;}

.left-block{
  color:#fff;
  margin: 25px 12px 0 25px;
  min-height:340px;
  background-size:cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.left-block a, .right-block a{
  width:100%;
  height:100%;
  display:block;
  position: absolute;
  top: 0;
  left: 0;
}
.right-block{
  background-size:cover;
  color:#009d50;
  margin: 25px 25px 0 12px;
  min-height:340px;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.right-block.text-block .text-block-footer
{
    position: absolute;
    bottom: 0px;
    background: #0c9f51;
    width: 100%;
    text-align: center;
    font-family:"brandon-grotesque", arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px;
}

.right-block.text-block .text-block-footer p
{
    margin: 0px;
}

.half-width-box .content{max-width:500px;margin:0 auto;padding:40px}
.half-width-box h2{ font-size:36px;margin-bottom:10px;font-weight:800;text-transform: uppercase;}
.half-width-box a{ color:#fff;}
.half-width-box:hover{ opacity:0.8}



.news-container ul { text-align:center; }
.news-container ul li{ display:inline-block; padding:15px;}
.news-container ul li a{ color:#000; text-transform: uppercase; font-weight:700}
.news-container ul li a:hover{ text-decoration:none; color:#009d50;}
.news-container ul li.current a{ color:#009d50; border-bottom:3px solid #009d50; }

#startSlider{height: 740px;margin: 25px 25px 0 25px;}
#startSlider .slick-slide { height:740px;}
#startSlider .slick-prev, #startSlider .slick-next {
    background-image: url(../img/leftArrowWhite.png);
    border: 3px solid #fff;
}
#startSlider .slick-next {
    background-image: url(../img/rightArrowWhite.png);
    border: 3px solid #fff;
}
#startSlider .slick-prev:hover, #startSlider .slick-next:hover {
    border: 3px solid #000;
    background-color:transparent;
}
#startSlider .slick-prev {
    left: 30px;
}
#startSlider .slick-next {
    right: 30px;
}
#startSlider .slick-dots {
    bottom: 15px;
}
#startSlider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 2px solid #fff;
}
#startSlider .slick-dots li button {
    background-color: #fff;
    border: 2px solid #fff;
}
#startSlider .slick-dots li button:hover{
    opacity:0.5;
}


.start-jumbotrone{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color:#fff;
  height:100%;
  position: relative;
  text-align: center;
  height: 740px;
}
.start-jumbotrone h1{
  font-size: 60px;
  font-weight:800;
  margin:0;
  text-transform: uppercase;
}
.start-jumbotrone p{
  max-width:643px;
  margin:0 auto;
  font-size: 20px;
}
.inner{top:50%;position: absolute;width:100%; margin-top: -80px;padding: 20px 80px;}

.overlay{height:100%}
.overlay.green{background-color: rgba(47,212,59,0.8)}
.overlay.pink{background-color: rgba(250,104,186,0.8)}
.overlay.black{background-color: rgba(0,0,0,0.8)}
.overlay.beige{background-color: rgba(245,241,234,0.8)}
.overlay.lightgreen{background-color: rgba(47,212,59,0.6)}
.overlay.lightpink{background-color: rgba(250,104,186,0.6)}
.overlay.lightblack{background-color: rgba(0,0,0,0.3)}
.overlay.lightbeige{background-color: rgba(245,241,234,0.6)}


.start-jumbotrone h1, .half-width-box h2, .news-container ul li a, .news-headline, .tag, .date{
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}



.news-container {
  margin: 25px 0 25px 0;
  background: url('../img/content-block-bg-brown-sample.gif') repeat;
  padding:40px;
}
.news-container-inner{max-width:1100px;margin:0 auto}

#start-new-item-loadmore {
    margin: 40px auto;
    display: block;
    border: 3px solid #009d50;
    color: #009d50;
    background: transparent;
    padding: 12px 36px;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#start-new-item-loadmore.disabled {
    color: #b8c2cc;
    border-color: #b8c2cc;
}

.news-video {
    display: none;
}

.grid-item { width: 33%; }
.grid-item--width2 { width: 66%; }
.grid-item-playing { width: 100%; }
.grid-item-playing .news-preview {
    display: none;
}

.grid-item-playing .news-video {
    display: block;
}



.grid-item-inner{margin:10px;background-color:#fff;}
.grid-item-inner img{ width: 100%; height:auto}

.news-headline{font-size: 22px;font-weight:700}

.tag{color:#009d50;text-transform: uppercase;font-weight:700; padding-right: 10px;}
.date{color:#b8c2cc;padding:0;font-weight:700}
.grid-item-inner a p{color:#000;padding:0 20px;margin:0}
.news-headline{margin: 0 0 0 0 !important;padding: 20px 20px 0 20px !important;}
.tagDate{padding:10px 20px 20px 20px !important;font-size: 14px;}

.grid-item a:hover {text-decoration:none;}
.grid-item a:hover p{color:#666}



.filters ul{margin: 20px 0 20px 0;padding:0}
.filters ul li { padding: 10px; }
.extraFooter {padding:0 15px 40px 15px !important}
.extraFooter h3{font-size:20px !important;margin-top:40px;margin-bottom:10px}
.extraFooter a{color:#fff}
.extraFooter p{margin:0 !important}

#filters {
    text-align: left;
    margin-left: 0px;
}

#formats {
    float: right;
    margin-top: 0;
    margin-right: 10px;
}

#formats i {
    font-size: 1em;
    margin-right: 0.3em;
}

#formats .current {
    display: none;
}

#formats a:hover {
    color: #009d50;
    border-bottom: 3px solid #009d50;
}

@media (max-width: 768px) {
  .half-width-box{ width:100%;}
  .grid-item { width: 100%; }
  .grid-item--width2 { width: 100%; }

  .left-block{margin: 25px 25px 0 25px; }
  .right-block{ margin: 25px 25px 0 25px; }
  .start-jumbotrone h1 { font-size: 24px; }
  .news-container { padding: 20px; }
}











.container-full {
    width:100%;
    min-width: 100%;
    padding:0;
    margin:0;
}

.container-head-wrapper{
    border-bottom: 1px solid #dbdbdb;
}
.container-head {
    min-height: 60px;
}

.container {
    max-width: 1120px;
}
.container-small {
    max-width: 970px;
}

.header-logo {
    position: absolute;
    left:20px;
    padding: 0;
    height: 156px;
    width: 173px;
    background: transparent url('../img/header-logo-sample.png') no-repeat top left;
    z-index: 100;
    cursor: pointer;
}

.header-logo {
    top:0px;
    left:50px;
    padding: 0;
    height: 221px;
    width: 170px;
    background: transparent url('../img/logo.png') no-repeat top left;
    z-index: 100;
    cursor: pointer;
}
.page-template-startpagenew .header-logo{top:-10px;}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header-logo {
        background-image: url('../img/header-logo-sample@2x.png');
        background-size: 173px 156px;
    }
}

.header-logo-mobile {
    display: none;
    position: absolute;
    left:25px;
    top: -10px;
    padding: 0;
    width: 38px;
    height: 50px;
    background: transparent url('../img/header-logo-mobile-sample2.png');
    z-index: 100;
    cursor: pointer;
}

/* -- navigation -- */


.navbar {
    display: block;
    margin: 0 0 20px 0;
}
.navbar.dropped {
    padding-top: 45px;
}
.navbar .menu-minimeny-container .menu-item.current-menu-item{
  padding-top:45px;
}
.small-navigation.dropped{
  display:block;
}

.small-navigation, .main-navigation, .sticky-sub-menu, .language-navigation {
    text-align: center;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

.small-navigation {
    position:absolute;
    top:15px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: none;
    max-width: 800px;
}

.small-navigation .bottom-border {
    margin:10px auto 0 auto;
    padding:0;
    border-bottom:1px solid #ccc;
}

.small-navigation ul {
    padding:0;
    margin:0;
}

.small-navigation li {
    list-style: none;
    display: inline;
    padding:0 2px 0 2px;
    margin: 0 5px 0 5px;
}

.small-navigation li a {
    text-decoration: none;
    color: #333;
}

.small-navigation li a:hover, .small-nav li.current_page_item a {
    text-decoration: underline;
    color: #12af56;
}

.main-navigation {
    margin: 60px 0 0 0;
}

.main-navigation ul {
    padding:0;
    margin:10px 0 0 0;
}

.main-navigation li, .language-navigation li {
    list-style: none;
    display: inline;
    padding:2px;
    margin: 0 0 0 0;
}

.main-navigation li a, .language-navigation li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  font-size: 10.4pt;
  padding: 10px 5px;
  letter-spacing: 0.3pt;
}
/* currentmeny */
.main-navigation li a:hover{
    color: #000;
}
.main-nav li.current_page_item a, .main-nav li.current-menu-parent:first-child a {
    color: #009D50;
}



.language-navigation {
    margin: 0 0 0 0;
    position:absolute;
    right:40px;
    top:25px;
}
.language-navigation a{
    color:#fff;
}



.burger-menu, .burger-menu-mobile {
    position: absolute;
    right: 15px;
    top: 6px;
    padding:0;
    margin:0;
    width: 45px;
    height: 30px;
    background: url('../img/burger-menu-sample.gif');
    cursor: pointer;
}

.burger-menu-mobile {
    display: none;
}

.site-main{margin-top:100px}
.page-template-startpagenew .site-main{margin-top:0}

.container-head-wrapper{position:absolute;width:100%;border:0px;z-index: 999;top:0px}
.page-template-startpagenew .container-head-wrapper{background-color: transparent;top:10px}
.main-navigation li{ padding: 10px 12px 10px 12px; }
.main-navigation li:hover{ background: #00c464; }
.page-template-startpagenew .main-navigation li a, .page-template-startpagenew .language-navigation li a{ color:#fff; }
.small-navigation{display:none}
.main-navigation { margin: 40px 0 0 0; }

.main-navigation ul li{ position:relative}
.main-navigation ul ul{ display:none}
.main-navigation ul li:hover > ul { display: block; }
.main-navigation ul ul {
    padding: 0;
  	position: absolute;
    left:0;
    text-align: left;
    width:200px;
    padding-top:2px;
}
.main-navigation ul ul li {
		float: none;
    display: block;
    background: #009d50;
    padding:3px 12px;
    margin-bottom:1px;
}
.main-navigation ul ul li a{ display: block; }
.main-navigation ul li:hover{ background: transparent; }
.main-navigation ul li:hover a, .language-navigation ul li:hover a{ background: transparent; opacity:0.5;color: rgba(0,0,0,1);}
.page-template-startpagenew .main-navigation ul li:hover a, .page-template-startpagenew .language-navigation ul li:hover a{ background: transparent; opacity:0.5;color: rgba(255,255,255,1);}
.main-navigation ul li.menu-item-has-children:hover{ background: #00c464;}
.main-navigation ul li.menu-item-has-children:hover a{ color: rgba(255,255,255,1); opacity:1}
.main-navigation ul li.menu-item-has-children ul li:hover{ background: #00c464; }

.main-navigation ul li.menu-item-has-children a:before {
    display: block;
    content: "";
    background-image:url('../img/dropDownArrowBlack.png');
    z-index: 2;
    height: 12px;
    width: 10px;
    position: absolute;
    right: 8px;
    top: 19px;
    -webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	-o-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.main-navigation ul li.menu-item-has-children:hover a:before {
    background-image:url('../img/dropDownArrow.png');
    background-position:bottom left;
    top: 15px;
}
.page-template-startpagenew ul li.menu-item-has-children a:before {background-image:url('../img/dropDownArrow.png');}
.page-template-startpagenew ul li.menu-item-has-children:hover a:before {background-image:url('../img/dropDownArrow.png');}
.main-navigation ul li.menu-item-has-children ul li a:before { display: none; }
.main-navigation ul li.menu-item-has-children ul li a:after { display: none; }

.container-head-wrapper{position:absolute;width:100%;border:0px;z-index: 999;background-color: #fff}


.language-navigation ul li:first-child:after {
    display: block;
    content: "/";
    z-index: 2;
    height: 14px;
    width: 10px;
    position: absolute;
    left: 67px;
    top: 17px;
    color:#000;
}
.page-template-startpagenew .language-navigation ul li:first-child:after { color:#fff; }


/* sticky anchor sub menu */

.sticky-sub-menu-holder {
    background-color: #fff;
    margin: 0 auto;
    z-index: 500;
    width: 100%;
    position:absolute;
}

.sticky-sub-menu-holder.fixed {
    position: fixed;
    top: 0px;
}

.sticky-sub-menu {
    text-align: center;
}

.sticky-sub-menu ul {
    padding:0 0 20px 0;
    margin:15px 0 0 0;
    border-bottom:1px solid #e7e7e7;
}

.sticky-sub-menu li {
    list-style: none;
    display: inline;
    padding:2px;
    margin: 0 5px 0 5px;
}

.sticky-sub-menu li a {
  font-size: 10.4pt;
  text-decoration: none;
  font-weight: 700;
  color: #12af56;
  text-transform: uppercase;
  padding: 5px;
}

.sticky-sub-menu li.current a {
  color: #000;
}
.sticky-sub-menu li a:hover, .sticky-sub-menu li.current_page_item a {
    color: #333;
}

.filterArea{border-bottom:1px solid #e8e8e8;text-align:center;padding:30px 0 30px 0;margin-bottom:45px}
.filterBt{
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  color: #000;
  display: inline-block;
  padding: 10px 10px 10px 40px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fcda3a;
  margin:2px;
  font-weight: 900;
  font-size: 11pt;
  border-radius:1px;
  background-image: url("../img/filterCheckLagenhet.gif");
  background-repeat:no-repeat;
  background-position:6px 6px;
}
.filterBt.radhus{
  background-color: #7dc242;
  background-image: url("../img/filterCheckRadhus.gif");
}
.filterBt.villa{
  background-color: #5cc9e1;
  background-image: url("../img/filterCheckVilla.gif");
}
.filterBt.empty{
  background-image: url("../img/filterCheckEmpty.gif");
}
.filterBt:focus {
  color: #000;
  text-decoration: none;
}
.filterBt:hover{
  text-decoration: none;
  color: #000;
}
.moveMap{position:relative; margin: 40px 0 40px 0;}
.moveMap img{width:100%}
.mapPoint{
  width:16px;
  height:16px;
  display:block;
  background-color: #5cc9e1;
  border-radius:8px;
  border:2px solid #fff;
  position:absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  top:20px;
  left:20px;
}
.mapPoint.lagenhet{
  background-color: #fcda3a;
}
.mapPoint.radhus{
  background-color: #7dc242;
}
.mapPoint.villa{
  background-color: #5cc9e1;
}
.mapPoint:hover{
  border:2px solid #000;
}

.factBox{
  position:absolute;
  border:2px solid #fcda3a;
  background-color: #fff;
  box-shadow: 3px 3px 0 0px rgba(0, 0, 0, 0.43);
  padding: 25px 15px 15px 15px;
  top: -45px;
  left: 50px;
  width:260px;
  font-size:11pt;
  display:none;
  border-radius:1px;
}
.factBox.Lagenhet{
  border:2px solid #fcda3a;
}
.factBox.Radhus{
  border:2px solid #7dc242;
}
.factBox.Villa{
  border:2px solid #5cc9e1;
}
.factBox h3{
  margin: 0;
  padding: 0;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 13pt;
  font-weight: 600;
  text-transform: uppercase;
}
.factBox.show{
  display:block;
}

.factBox .cross, .moveMap #aboutMap .factBox .cross{
  display:block;
  top:5px;
  right:3px;
  position:absolute;
  background-image: url("../img/smallCross.jpg");
  background-repeat:no-repeat;
  background-position:7px 7px;
  width:25px;
  height:25px;
    margin-top: 0;
}
.factBox .cross:hover{
  opacity:0.25;
}

.smallButton {
  margin: 10px 0 0 0;
  padding: 15px 25px 15px 25px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #7dc243;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.factBox.Lagenhet .smallButton{ background-color: #fcda3a; }
.factBox.Radhus .smallButton{  background-color: #7dc242;}
.factBox.Villa .smallButton{  background-color: #5cc9e1;}
.factBox.Lagenhet .smallButton:hover{ background-color: #e9c000; }
.factBox.Radhus .smallButton:hover{  background-color: #5fac1e;}
.factBox.Villa .smallButton:hover{  background-color: #25b0ce;}


.smallButton:focus {
  color: #fff;
  text-decoration: none;
}
.smallButton:hover{
  color: #fff;
  text-decoration: none;
}

.object-carousel img {
    margin: 0 5px;
}

a.object-back {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 11.4pt;
    text-transform: uppercase;
}

a.object-back:hover {
    text-decoration: none;
}

a.object-back img {
    vertical-align: text-top;
    margin-right: 5px;
}


.tidslinjeOverview{margin:20px auto 0 auto;padding:20px;max-width:1240px;}
.tidslinjeOverview img{width:100%;}

.tidslinje {max-width:1260px;padding:10px 70px;margin:0 auto;margin-bottom: 80px !important;}
.tidslinjeBox {margin:8px;}
.tidslinjeBox.green{margin:8px;background-image: url("../img/time_green.gif");}
.tidslinjeBox.blue{margin:8px;background-image: url("../img/time_blue.gif");}
.tidslinjeBox.pink{margin:8px;background-image: url("../img/time_pink.gif");}
.tidslinjeBox.yellow{margin:8px;background-image: url("../img/time_yellow.gif");}

.tidslinjeBox.green img{border-bottom:7px solid #7dc242;}
.tidslinjeBox.blue img{border-bottom:7px solid #5cc9e1;}
.tidslinjeBox.pink img{border-bottom:7px solid #f170aa;}
.tidslinjeBox.yellow img{border-bottom:7px solid #fcda39;}

.tidslinjeBox.green .content{border-top:7px solid #7dc242;}
.tidslinjeBox.blue .content{border-top:7px solid #5cc9e1;}
.tidslinjeBox.pink .content{border-top:7px solid #f170aa;}
.tidslinjeBox.yellow .content{border-top:7px solid #fcda39;}


.tidslinjeBox img{border-bottom:7px solid #fcda39;width:100%;}

.tidslinjeBox .content{padding:20px;}

.tidslinjeBox h5{
  text-transform: uppercase;
  font-size: 11.4pt;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3pt;
  margin:0;
}
.tidslinjeBox .timeline-date{
  text-transform: uppercase;
  font-size: 10.4pt;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3pt;
  color:#ababab;
  font-weight:bold;
  margin:0;
}






.regularButton {
  margin: 10px 0 0 0;
  padding: 15px 25px 15px 25px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #17aa5c;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-repeat:no-repeat;
  background-position:18px 18px;
  border-radius:1px;
}
.regularButton:hover {
  background-color: #099048;
}
.regularButton:focus {
  color: #fff;
  text-decoration: none;
}
.regularButton:hover{
  color: #fff;
  text-decoration: none;
}


/* Contact */
#kontaktpersoner .col-md-6 img {
    width: initial;
}



.documentWrapper{
  margin: 30px 0 80px 0;
}
.documentList{
  border-bottom:1px solid #ccc;
  padding: 5px 0 15px 0;
}
.documentList h5{
  margin: 13px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 11.4pt;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3pt;
}
.documentList p{
  margin: 0;
  padding: 0;
}
.documentList .content{
  float:left;
  width:70%;
}
.downloadButton {
  margin: 10px 0 0 0;
  padding: 15px 25px 15px 50px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #17aa5c;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-image: url("../img/arrowDown.png");
  background-repeat:no-repeat;
  background-position:18px 18px;
  border-radius:1px;
}
.downloadButton:hover {
  background-color: #099048;
}
.downloadButton.right {
  float:right;
}
.downloadButton:focus {
  color: #fff;
  text-decoration: none;
}
.downloadButton:hover{
  color: #fff;
  text-decoration: none;
}


/* page specific content */

.page-hero.moreBottomPadding {
  padding-bottom: 90px;
}

.page-hero, .object-hero {
    min-height: 340px;
    margin: 0 25px 30px 25px;
    padding: 25px 0 1px 0;
    text-align: center;
}

.page-hero.start {
    margin:0;
}

.page-hero h1, .object-hero h1 {
    text-align: center;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 62pt;
    font-weight: 800;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
}

.page-hero h1.small{
    text-align: center;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 36pt;
    font-weight: 800;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}

.page-hero h2 {
    font-weight: 100;
    text-align: center;
    font-size: 16pt;
    color: #fff;
    margin: 0;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.page-hero p {
    color: #fff;
    text-align: center;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.page-hero p {
    color: #fff;
    text-align: center;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}


.start-logo {
    margin: 150px 25px 0 25px;
    padding: 0;
}

.start-logo img {
    width:100%;
    max-width:970px;
}

.start-slogan {
    font-size: 18pt;
    font-weight: 500;
}

.hero-images {
    margin: 35px auto 0 auto;
    padding: 0;
    vertical-align: bottom;
    text-align: center;
    max-width: 1440px;
}

img.hero-down {
    margin: 10px 0 0 0;
    padding: 0;
}

img.hero-image {
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: bottom;
}

p.arrowdown {
    margin: 0 auto 50px auto;
}

.object-carousel .slick-slide {

}

.object-carousel .slick-slide img {
    max-height: 600px;
    width: auto;
}

.obj-caro h3 {
    text-align: center;
}

.hero-carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.hero-carousel-control.left {
    width: 48px;
    height: 48px;
    margin: auto 0 auto 5px;
    background: url('../img/image-slider-left-sample.png') no-repeat;
}

.hero-carousel-control.right {
    left: auto;
    right: 0;
    width: 48px;
    height: 48px;
    margin: auto 5px auto 0;
    background: url('../img/image-slider-right-sample.png') no-repeat;
}

/* start-page specifics */

.start-block-wrapper {
    width: 100%;
    margin:0;
    padding:20px 0 40px 0;

}

.start-block-wrapper .content-block h1 {
  text-align: center;
  font-size: 24pt;
  font-weight: 400;
  color: #12af56;
  margin: 20px 0 20px 0;
}

.start-block-wrapper .content-block h3 {
    text-align: center;
    font-size: 15pt;
    font-weight: 100;
    text-transform: none;
    margin: 0;
}

.start-block {
    margin: 30px 0 30px 0;
    color: #fff;
    text-align: center;
    padding: 15px 20px 25px 20px;
    display: block;
    -webkit-transition: background-color 0.2s ease-in-out;
  	-moz-transition: background-color 0.2s ease-in-out;
  	-o-transition: background-color 0.2s ease-in-out;
  	transition: background-color 0.2s ease-in-out;
}

.start-block.green { background: #7dc243; }
.start-block.grass { background: #b8d432; }
.start-block.blue { background: #5bc9e0; }

.start-block.green:hover { background: #6AB828; }
.start-block.grass:hover { background: #A4C700; }
.start-block.blue:hover { background: #22B2D0; }

.start-block:hover { color: #FFF; text-decoration:none}

.start-block h3 {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 900;
    text-transform: uppercase;
    margin:5px 0;
}
.start-block p {
    margin:0;
}

/* general sub-page content block */

.aboutMapOuter{
  margin:20px;
}
#aboutMap{
  overflow: hidden;
  height: 200px;
  max-width: 1122px;
  margin:0 auto 80px auto;
  position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  cursor:pointer;
  border: 1px solid rgba(255,255,255,0.5);
}
#aboutMap img{
  border: 1px solid rgba(0,0,0,0);
  opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width:100%;

  position: absolute;
  left: 0;
  top: 0;
}
#aboutMap .regularButton {
  position: relative;
  z-index: 3;
  background-color:#fff;
  color:#000;
  margin-top:60px;
  padding:25px 45px 25px 45px;
}

.moveMap #aboutMap {
    text-align: center;
    margin-bottom: 0;
}

.moveMap #aboutMap.clicked {
    overflow: visible;
    position: static;
    cursor: default;
}


#aboutMap.clicked{
  height:815px;
}

#aboutMap .mapPoint {
    display: none;
}

#aboutMap.clicked .mapPoint {
    display: inherit;
}

#aboutMap div{
}
#aboutMap.clicked img{
  height:inherit;
  opacity: 1;
  position: relative;
  left: 0;
  top: 0;
}
#aboutMap:hover img{
  opacity: 0.7;
}

#aboutMap.clicked:hover img{
  opacity: 1;
}

#aboutMap.clicked .regularButton{
  display:none;
}

#aboutMap .cross{
  position: relative;
  width: inherit;
  z-index: 3;
  display:inline-block;
  position: absolute;
  margin-top: 20px;
  padding: 0;
  right: 20px;
  top: 0;
}
#aboutMap.clicked .regularButton.cross{
  display:inline-block;
  position: absolute;
  margin-top: 20px;
  padding: 25px 45px 25px 45px;
  right: 20px;
  top: 0;
}

.newsColumn{
  max-width:820px;
  margin:0 auto;
  line-height: 1.5;
}
img.alignright, div.wp-caption.alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
img.alignleft, div.wp-caption.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.wp-caption-text {
    margin:0;
    padding:0;
    text-align: center;
    font-size: 95%;
}

.page-hero-single{margin:0}
.page-hero-single-news{max-width:1024px;padding:0 20px;margin:0 auto}

.page-content{padding-top:80px;}

.content-block-wrapper {
    width: 100%;
    margin:0;
    padding:40px 0 50px 0;
}

.content-block-wrapper.noTopMargin{
  padding: 0px 0 50px 0;
  margin: -66px 0 0 0;
}

.content-block-wrapper.brown, .page-hero.brown, .start-block-wrapper.brown {
    background: url('../img/content-block-bg-brown-sample.gif') repeat;
}

.content-block-wrapper.logo
{
    background: url("../img/vallastaden_logotyp_bakgrund.jpg") no-repeat center;
}

.content-block-wrapper.green, .page-hero.green, .start-block-wrapper.green {
    background: url('../img/content-block-bg-green-sample.gif') repeat;
}

.content-block-wrapper.yellow, .page-hero.yellow, .start-block-wrapper.yellow {
    background: url('../img/content-block-bg-yellow-sample.gif') repeat;
}

.content-block-wrapper.pink, .page-hero.pink, .start-block-wrapper.pink {
    background: url('../img/content-block-bg-pink-sample.gif') repeat;
}

.content-block-wrapper.blue, .page-hero.blue, .start-block-wrapper.blue {
    background: url('../img/content-block-bg-blue-sample.gif') repeat;
}

.content-block-wrapper.brown, .page-hero.brown p, .page-hero.brown h2 {
    color:#000;
}

.content-block-wrapper.blue, .page-hero.blue {
    background: #4ab8cf url('../img/content-block-bg-blue-sample.gif') repeat;
}

.content-block-wrapper.blue, .page-hero.blue p , .content-block-wrapper.green, .page-hero.green p {
    color:#ffffff;
}
.content-block-wrapper.pink, .page-hero.pink p{
    color:#ffffff;
}
.content-block-wrapper.blue h4, .content-block-wrapper.pink h4, .content-block-wrapper.green h4{
    color:#fff;
}
.page-hero.green h1, .page-hero.pink h1 {
    color:#fff;
}
.page-hero.yellow p, .page-hero.yellow h2, .content-block-wrapper.yellow .content-block h4{
    color:#000;
}

.page-hero.bild {
    background-size:cover;
    background-position:center center;
}


.content-block-wrapper.backgroundImage {

  background-position: center center;
    background-size:cover;
        color:#fff;
}

.content-block-wrapper.backgroundImage h4{
    color:#fff !important;
}

.content-block {
    margin:0 auto 0 auto;
    padding:25px 15px 25px 15px;
    max-width: 970px;
}

.content-block h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10.4pt;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3pt;
}

.content-block h4 {
  text-align: center;
  font-size: 24pt;
  font-weight: 400;
  color: #12af56;
  margin: 20px 0 20px 0;
}

.content-block .row {
    margin:0 20px;
}

.content-block-image {
    max-width:100%;
}

.content-block ul li {
    margin-bottom: 15px;
}

.center{text-align:center;}
.image-block {
    margin: 0px auto 0px auto;
    padding: 20px 20px 50px 20px;
    max-width: 1080px;
    text-align: center;
}
.noMenu{
    padding-top: 0px;
    margin-top: -30px;
  }
.col-md-6 img{width:100%;height: auto;}

/* object lists */

.object-list-wrapper {
    padding:0 0 100px 0;
}

.object-list-object {
  padding: 20px 10px 0 10px;
}

.object-list-image {
    width:100%;
    height:auto;
}

.object-list-image.object-list-image-bordered {
    border: 1px solid #eee;
    border-bottom: 0px;
}

.object-list-content {
    padding:20px;
    min-height: 320px;
    position: relative;
}

.object-list-button {
    float:right;
    margin: 10px 0 0 0;
    padding:15px 0 15px 25px;
    width:120px;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #7dc243;
    text-decoration: none;
    color: #fff;

    position: absolute;
    right: 20px;
    bottom: 20px;
}

.object-list-button:hover {
    text-decoration: none;
    color: #fff;
}

.object-list-content.blue, .object-hero.blue {
    background: url('../img/object-list-blue-sample.gif') repeat;
}

.object-list-content.blue .object-list-button {
    background-color: #5cc9e0;
}

.object-list-content.blue .object-list-button:hover {
    background-color: #25b0ce;
}

.object-list-content.green, .object-hero.green {
    background: url('../img/object-list-green-sample.gif') repeat;
}

.object-list-content.green .object-list-button {
    background-color: #7dc243;
}

.object-list-content.green .object-list-button:hover {
    background-color: #5fac1e;
}

.object-list-content.yellow, .object-hero.yellow {
    background: url('../img/object-list-yellow-sample.gif') repeat;
}

.object-list-content.yellow .object-list-button {
    background-color: #fcda3a;
}

.object-list-content.yellow .object-list-button:hover {
    background-color: #e9c000;
}

.object-list-content h3 {
    margin: 0;
    padding: 0;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-transform: uppercase;
}

.object-list-content p {
    margin:10px 0 0 0;
    font-size: 11pt;
}

.object-list-logo {
    margin:20px 0 0 0;
    max-width: 80px;
}

.object-list-content-sm {
    min-height: initial;
    text-align: center;
}

.object-list-content-sm h3
{
    font-size: 14pt;
    margin-bottom: 20px;
}

.object-list-content-sm .object-list-button
{
    display: block;
    padding: 10px;
    font-size: 10pt;
    position: static;
    float: none;
    width: 100%;
    margin: 0px;
}


/* object details */

.stickyPostWrapper{max-width:1140px;padding:10px 70px;margin:20px auto;margin-bottom: 40px !important;}
.stickyPost{
  background-color: #fff;
  float: left;
  width: 270px;
  margin:10px;
  color:#000;
  padding:0;
}
.stickyPost img{
  width:100%;
  padding:0;
  height:auto;
}
.stickyPost div{
  padding:20px;
}
.stickyPost a {
  color: #000;
  text-decoration: none;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 18pt;
  font-weight: 700;
}
.stickyPost p {
  color: #000;
}



.object-hero {
    text-align: center;
    min-height: 270px;
}


.object-hero h1 {
    color: #5bc9e4;
    font-size: 25pt;
    margin: 40px 0 30px 0;
}

.object-hero p {
    font-size: 17pt;
}

.object-cta-block {
    text-align: center;
    margin: 10px 0 80px 0;
}
.object-cta-block hr{
    margin-top: 40px;
    margin-bottom: 60px;
}

.object-cta-block h3 {
    margin: 20px 0;
    padding: 0;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
}

.object-cta-block button {
    margin: 10px 0;
    padding: 20px 35px;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #7dc243;
    border:0;
    color: #fff;
}

.object-cta-block button:hover {
    background-color: #5fac1e;
}

.puff{
  margin-bottom:20px;
  background-color: #fcda39;
}
.puff.green{background-color: #b8d432;}
.puff.blue{background-color: #5cc9e1;}
.puff.pink{background-color: #f170aa;}
.puff.yellow{background-color: #fcda39;}
.puff img{
  width:100%;
}
.puff  a p{
  color:#fff;
  text-decoration: none;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 18pt;
  font-weight: 700;
  margin:0;
  padding:15px 0 15px 20px;
}
.puff  a:hover{
  text-decoration: none;
}

.puff.big{

}
.puff.small{
}

/* news items */
.newsListDivider{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  }
.news-list-wrapper{margin-top:60px;margin-bottom:100px;}
.news-list-wrapper h4{margin-bottom:60px;}
.news-list {
    margin-bottom: 20px;
}

.news-navigation.right {
    text-align: right;
}

.news-navigation a, .news-navigation a:visited {
    font-weight: bold;font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 16pt;
}

h3.col-header {
    margin-top: 0;
}

.news-list div {
    display: table-cell;
    vertical-align: top;
}

.news-list p {
    margin:0.33em 0 0 0;
    padding:0;
}

.news-list .news-list-image {
    padding:0 20px 0 0;
    border: 0;
    width: 150px;
}
.news-list .news-list-image img{
    width: 100%;
    height:auto;
}

.news-list a {
    color: #000;
    text-decoration: none;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    line-height: 1.15em;
    font-weight: 700;
}

.news-list a:hover {
    color: #12af56;
}
.news-list-date{
    color:#828282;
    font-size: 11pt;
    margin-bottom: 0.4em;
    display: block;
}

.news-item {
    background: #11a456;
    color: #fff;
    margin-bottom: 20px;
    background: #4ab8cf url('../img/content-block-bg-green-sample.gif') repeat;
}

.news-item .page-hero {
    min-height: 50px;
    padding: 50px 0;
}

.news-item .page-hero h1 {
}

.news-row {
    margin-top:20px;
    margin-bottom:40px;
}

.news-row img,
.page-hero img,
.page-content .content-block img
{
    max-width: 100%;
    height: auto;
}

.news-ingress {
    color:#12af56;
    font-size: 18pt;
}

.news-more-news {
    border-top: 1px solid #ccc;
    text-align: center;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    color:#12af56;
    font-size: 20pt;
    font-weight: 400;
    padding:25px 0 0 0;
}

.author-meta {
    padding: 0 0 15px 10px;
    border-left:1px solid #ccc;
}

.author-name {
    font-weight: bold;
}


/* footer */

.main-footer a{
    color:#fff;
}

.main-footer {
    background-color: #17aa5c;
    min-height:250px;
    margin: 0 0;
    padding:0;
}

.main-footer .row {
    margin:45px 0 25px 0;
}

.footer-block {
    padding: 10px 0;
    color: #fff;
}

.footer-block.social-media a {
    display: block;
    margin: 8px 0px;
}

.footer-block.social-media a img {
    float: none;
    margin-right: 8px;
}

.footer-block h3 {
    text-transform: uppercase;
    font-size: 11pt;
    margin:5px 0px -3px 0px;
        font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

.footer-block ul {
    float:left;
    list-style-type: none;
    padding:0;
    margin:0;
}

.footer-block ul.left {
    margin:0 20px 0 0;
}

.footer-block li {
    background: url('../img/footer-li-pointer-sample.png') no-repeat;
    background-position: 0px center;
    padding: 2px 0 5px 11px;
    margin: 0 5px 0 5px;
}

.footer-block li a {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 10pt;
    color:#fff;
    text-transform: uppercase;
}

.footer-block li a:hover {
    text-decoration: underline;
}

.footer-block p {
    font-size: 10pt;
}

#menu-bottenmeny-vanster .menu-item-has-children {
   background: none;
    margin: 8px 5px 0 5px;
    padding: 2px 0 0px 0px;
}

#menu-bottenmeny-vanster .menu-item-has-children > a {
   font-size: 0.95em;
}

.footer-block ul.sub-menu{
   float: none;
}

.footer-block ul.sub-menu li {
   padding: 2px 0 5px 11px;
   margin: 0 5px 0 0px;
}



/* custom responsive break-points */

@media (max-width: 1170px) {
  #aboutMap.clicked{
    height:inherit;
  }
  .header-logo {
    top:0px;
    left: 50px;
    padding: 0;
    height: 142px;
    width: 109px;
    background: transparent url('../img/logo.png') no-repeat top left;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
  }
  .page-template-startpagenew .header-logo{top:-10px;}
  /*.left-block { min-height: 260px;}
  .right-block { min-height: 260px;}*/

}


@media (max-width: 992px) {

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .burger-menu-mobile {
        display: block;
    }

    .small-navigation {
        display: block;
        position: inherit;
    }

    .navbar {
        display: none;
    }

    .small-navigation li, .main-navigation li {
        display: block;
        padding:5px;
    }

    .main-navigation li a, .small-navigation li a {
        text-decoration: none;
        font-weight: bold;
        color:#333;
        text-transform: uppercase;
        font-size: 10pt;
        padding: 10px;
    }

    .small-navigation li a {
        font-weight: normal;
        text-transform: none;
    }

    .small-navigation li a:hover, .small-nav li.current_page_item a {
        text-decoration: none;
    }

    .small-navigation .bottom-border {
        margin:0 auto 0 auto;
        border:0;
    }

    .object-list-image {
        min-height:none;
        max-height:none;
    }

    .footer-block ul {
        float: none;
    }

    .page-template-startpagenew .container-head-wrapper{background-color: #fff !important;}

    .page-template-startpagenew .container-head-wrapper{background-color: #fff !important;}
    .page-template-startpagenew .main-navigation li a { color: #000; }
    .container-head-wrapper{top:10px !important}

    .main-nav{margin-top:40px}
    .small-navigation li, .main-navigation li { padding: 10px; }
    .main-navigation ul li{border-bottom:1px solid #f4f4f4}
    .language-navigation {position: relative;right: 0px;margin: 0 0 55px 0;}
    .language-navigation ul{margin:0;padding:0}
    .main-navigation ul { margin: 10px 10px 0 10px; }
    .main-navigation ul ul {
        display: block;
        text-align: center;
        width: 100%;
        background-color:#fff;
        position: relative;
        margin: 10px 0 0 0;
    }
    .main-navigation ul ul li{
        background-color:#fff;
        border-bottom:0px;
    }
    .main-navigation ul ul li a{ color:#666; }
    .main-navigation ul ul li a:hover{ background-color:#fff;}

    .main-navigation ul li.menu-item-has-children:hover { background: #fff; color:#000;}
    .main-navigation ul li.menu-item-has-children ul li:hover { background: #fff; }
    .site-main { margin-top: 60px; }

        .main-navigation ul li.menu-item-has-children a:before {
            background-image:url('../img/dropDownArrowBlack.png');
            background-position:top left;
            top: 15px;
        }

    .main-navigation ul li.menu-item-has-children:hover a:before {
        background-image:url('../img/dropDownArrowBlack.png');
        background-position:top left;
        top: 15px;
    }

    .page-template-startpagenew .main-navigation ul li:hover a, .page-template-startpagenew .language-navigation ul li:hover a { color: rgba(0,0,0,1); }
    .page-template-startpagenew .main-navigation li a, .page-template-startpagenew .language-navigation li a { color: #000; }
    .main-navigation ul li.menu-item-has-children:hover a { color: #000; }

    .main-navigation li, .language-navigation li { position: relative; }
    .language-navigation ul li:first-child:after { left: 27px; top: 5px; }
    .page-template-startpagenew .language-navigation ul li:first-child:after { color: #000; }


    /*.left-block { min-height: 220px;}
    .right-block { min-height: 220px;}*/

    .half-width-box .text-block
    {
        font-size: 14px;
    }

}

@media (max-width: 768px) {


  #startSlider{height: 340px;}
  #startSlider .slick-slide { height:340px;}
  .inner { padding: 20px 20px; margin-top: -60px;}
  .left-block, .right-block { /*min-height: 180px;*/  padding: 20px 20px 40px 20px;}

    .sticky-sub-menu-holder {
        display: none;
    }

    .page-hero h1, .object-hero h1, .page-hero h1.small{
      font-size: 24pt;
      font-weight: 800;
      text-transform: uppercase;
      margin: 30px 0 10px 0;
    }


    img.hero-image {
        width:50%;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
    .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .page-content {
      padding-top: 0px;
    }
    .page-hero, .object-hero{
      margin: 0 25px 0 25px;
      padding: 25px 15px 1px 15px;
    }
    .content-block .row {
      margin: 0 0;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    #kontaktpersoner .col-md-6 img {
        width: 100%;
    }


    .tidslinje {
      padding: 10px 10px;
      margin: 0 auto;
    }
    .stickyPostWrapper{padding: 10px 10px;margin: 20px auto;}

    .right-block.text-block .text-block-footer
    {
        font-size: 16px;
    }

}

img.alignright {
    float: right;
}


/* Forms */

#frm_form_2_container {
    max-width: 600px;
    margin: auto;
}

#frm_form_2_container input[type=text], #frm_form_2_container input[type=email], #frm_form_2_container textarea {
    -webkit-appearance: none;
    border: none;
    padding: 10px 8px;
    border-radius: 0;
}

#frm_form_2_container label, #frm_form_2_container .frm_required, #frm_form_2_container .frm_error  {
    color: #FFFFFF;
}

#frm_form_2_container .frm_error  {
    margin-top: 5px;
}

#frm_form_2_container input[type=submit]  {
    color: #FFFFFF;
    background-color: #7dc243;
    padding: 10px 35px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
}

img.multihouse-campaign-banner {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: -45px;
}
